        /* Tablet and Smaller Desktop */
        
        @media (min-width: 701px) and (max-width: 1120px) {
            .grid {
                grid-template-columns: repeat(2, 50%);
            }
        }
        
        @media (prefers-color-scheme: dark) {
            .vercelLogo {
                filter: invert(1);
            }
            .logo {
                filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
            }
        }
        
        @keyframes rotate {
            from {
                transform: rotate(360deg);
            }
            to {
                transform: rotate(0deg);
            }
        }
        
        .house-card {
            overflow-y: scroll;
            margin-bottom: 50px;
            position: relative;
            animation-name: example;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
            @keyframes example {
                from {
                    top: 200px;
                }
                to {
                    top: 0px;
                }
            }
        }
        
        .search {
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__input-search {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            &__button-group {
                display: flex;
                justify-content: center;
                margin-top: 3%;
                margin-bottom: 3%;
            }
        }
        
        .notif {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20%;
            width: 100%;
            &__text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-size: 15px;
                align-items: center;
                color: gray;
            }
        }
        
        .count-results {
            display: flex;
            margin-left: 10%;
            font-size: 14px;
            font-weight: bold;
            height: 5%;
            margin-bottom: 8%;
        }
        
        .swal2-html-container {
            font-size: 1em im !important;
            font-family: 'pinar';
        }
        
        .swal2-popup {
            width: 80%;
        }
        
        .confirmButton {
            background-color: rgb(192, 188, 188);
            padding: 6px 25px;
            margin: 5px 8px;
            display: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            border-width: 0ch;
        }
        
        .cancelButton {
            background-color: #f06c55;
            padding: 6px 25px;
            margin: 5px 8px;
            display: none;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            border: none;
        }