.input-search {
    display: flex;
    justify-content: center;
    width: 90% !important;
    font-size: 15px !important;
     :focus {
        border-color: white;
    }
    & .MuiOutlinedInput-adornedEnd {
        border-radius: 10px;
        background-color: #e8e9ec;
    }
    & .MuiOutlinedInput-notchedOutline {
        border-color: #e8e9ec;
    }
}