.input-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px;
    &__label {
        display: flex;
        justify-content: start;
        font-size: 12px;
        width: 100%;
        margin: 8px 2px;
        color: rgb(78, 77, 77);
        font-weight: bold;
    }
    &__text {
        border-radius: 8px;
        height: 35px;
        border: none;
        width: 100%;
        padding: 8px;
        outline-color: rgb(196, 194, 194);
        //  :focus {
        //     outline-color: gray;
        // }
    }
}